@import "~leaflet/dist/leaflet.css";

body {
  margin: 0;
  padding-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.MuiAutocomplete-hasPopupIcon .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon .MuiOutlinedInput-root {
  margin-right: 0 !important;
  padding-right: 7px !important;
}

.MuiAutocomplete-endAdornment {
  display: flex;
  order: revert;
  position: relative !important;
  /* right: 0 !important; */
}

.MuiFormLabel-root,
.MuiInputLabel-root {
  left: 10px !important;
  top: -2.5px !important;
}