@import "~leaflet/dist/leaflet.css";

body {
  margin: 0;
  padding-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.plantbackground::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(99, 192, 85, 1) 5%, rgba(99, 192, 85, 0.7) 35%, rgba(255, 255, 255, 0));
    height: 100%;
}

.MuiAutocomplete-hasPopupIcon .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon .MuiOutlinedInput-root {
  margin-right: 0 !important;
  padding-right: 7px !important;
}

.MuiAutocomplete-endAdornment {
  display: flex;
  order: revert;
  position: relative !important;
  /* right: 0 !important; */
}

.MuiFormLabel-root,
.MuiInputLabel-root {
  left: 10px !important;
  top: -2.5px !important;
}

label.Mui-focused,
label.MuiInputLabel-shrink {
  left: 0px !important;
  top: 0px !important;
}