@import "~leaflet/dist/leaflet.css";

body {
  margin: 0;
  padding-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.MuiAutocomplete-hasClearIcon.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root {
  margin-right: 0 !important;
  padding-right: 9px !important;
}

.MuiAutocomplete-endAdornment {
  display: flex;
  order: revert;
  position: relative !important;
  right: 0 !important;
}